h1 {
    font-family: 'Permanent Marker', Arial, sans-serif;
}

body {
    margin-bottom: 0px;
    background: #D79922;
    font-family: 'Indie Flower', Arial, sans-serif;
}

#wrapper {
    min-height: 100vh;
}

h4 {
    font-weight: bold;
}

.main-header {
    background: #4056A1;
    color: rgb(243, 170, 74);
}

.main-header h1 {
    font-size: 50px;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    background: #4056A1;
    color: white;
}

.gif-area {
    background: rgb(164, 176, 224);
    min-height: 50vh;
}

.div-GIPH-box {
    position: relative;
    display: inline-block;
    padding: 1em;
    min-width: 220px;
}

.gif {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.gif-rating {
    display: inline-block;
    font-size: 14px;
}

.favorites-div {
    max-width: 100%;
}

.favorite-button {
    display: inline-block;
    position: absolute;
    right: 5%;
    font-size: 14px;
    cursor: pointer;
}

.favorite-gif {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.favorite-area {
    background: #F13C20;
    min-height: 50vh;
}

.remove-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}



